<div class="modal-body">
    <div class="row">
        <div class="col upload-btn-wrapper">
            <img *ngIf="!itemImage" src="assets/image_placeholder.png" class="img-thumbnail" [ngClass]="{invalid: submitted}" (click)="fileInput.click()" />
            <img *ngIf="itemImage" src mediaPreview [media]="itemImage" class="img-thumbnail" (click)="fileInput.click()" />

            <span class="hide-file-input">
                <input type="file" #fileInput (change)="onPickFile($event.target.files)" />
            </span>
        </div>
        <div class="col">
            <form [formGroup]="addItemForm" (ngSubmit)="onSaveItem()">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid': submitted && title.invalid }" formControlName="title" id="title" placeholder="Enter item's title">
                    <div class="invalid-feedback">
                        Please enter a title.
                      </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" formControlName="description" id="description"
                        placeholder="Enter item's description">
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>