<div class="row justify-content-center mb-5">
  <div class="col">
    <img src="assets/logo.png" class="things-logo">
  </div>
</div>

<div class="row justify-content-center mb-2">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <span class="nav-link disabled">Signup</span>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col">
    <div class="alert alert-danger text-center" role="alert" *ngIf="authFailed$ | async">
      Signup failed. Please try again later.
    </div>
  </div>
</div>

<div class="row align-items-center justify-content-center mb-5">
  <th-auth-form (onSubmit)="onClickSubmit($event)" [type]="'SIGNUP'"></th-auth-form>
</div>