<ul class="nav justify-content-center mb-2">
    <li class="nav-item">
      <span class="nav-link disabled">Login</span>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/signup">Signup</a>
    </li>
  </ul>

<div class="row">
  <div class="col">
    <div class="row align-items-center justify-content-center mb-2">
      <div class="alert alert-danger text-center" role="alert" *ngIf="authFailed$ | async">
        Login failed. Please check email and password and try again.
      </div>
    </div>
    <div class="row align-items-center justify-content-center mb-2">
      <th-auth-form (onSubmit)="onClickSubmit($event)" [type]="'LOGIN'"></th-auth-form>
    </div>
  </div>
</div>