<div class="row justify-content-center mb-5">
  <div class="col">
      <img src="assets/logo.png" class="things-logo">
  </div>
</div>

<div class="row justify-content-center mb-2">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <span class="nav-link disabled">Signup</span>
        </li>
      </ul>
</div>

<div class="row align-items-center justify-content-center mb-5">
  <form #userSignup="ngForm" (ngSubmit)="onClickSubmit(userSignup.value)">
    <div class="form-group">
      <label class="text-dark" for="name">Name</label>
      <input type="text" required class="form-control" name="name" id="name" placeholder="Enter your name" ngModel>
    </div>
    <div class="form-group">
      <label class="text-dark" for="email">Email address</label>
      <input type="email" required class="form-control" name="email" id="email" placeholder="Enter email" ngModel>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" required class="form-control" name="password" id="password" placeholder="Password" ngModel>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>