<form [formGroup]="authForm" (ngSubmit)="onSubmitClick()">
    <div *ngIf="isSignUpForm()" class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" [ngClass]="{'is-invalid': submitted && name.invalid }" formControlName="name"
            id="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" [ngClass]="{'is-invalid': submitted && email.invalid }"
            formControlName="email" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [ngClass]="{'is-invalid': submitted && password.invalid }"
            formControlName="password" id="password" placeholder="Password">
    </div>
    <!-- TODO ADD PASSWORD RETYPE -->
    <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


</form>
